/*
 * Copyright (c) 2022 The ZMK Contributors
 * Copyright (c) 2026 Splitkb.com
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Ported from the QMK/Vial keymap (sertainly.vil.json).
// Vial had TAPPING_TERM = 175 ms, ZMK defaults to 200 ms.
&mt {
    tapping-term-ms = <175>;
};

&lt {
    tapping-term-ms = <175>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
// -----------------------------------------------------------------------------------------
// |  X  |  L  |  D  |  K  |  V  |   |  Z  |  W  |  O  |  U  | BSPC |
// |  S  |  R  |  T  |  N  |  F  |   |  G  |  Y  |  E  |  I  |  A   |
// | S/Q | C/J | A/M |  H  |  B  |   |  P  |L3/C | A/, | C/. | S//  |
//                   |L2/RET|G/SPC|   |L1/ESC|G/RET|
            bindings = <
&kp X       &kp L       &kp D      &kp K &kp V   &kp Z &kp W   &kp O          &kp U         &kp BSPC
&kp S       &kp R       &kp T      &kp N &kp F   &kp G &kp Y   &kp E          &kp I         &kp A
&mt LSHFT Q &mt LCTRL J &mt LALT M &kp H &kp B   &kp P &lt 3 C &mt LALT COMMA &mt RCTRL DOT &mt RSHFT FSLH
                    &lt 2 ENTER &mt LGUI SPACE   &lt 1 ESC &mt RGUI ENTER

// Halcyon module row: only the outer position of each side is a real button
// (the encoder push), it had KC_MUTE in Vial. No module is in build.yaml yet.
&kp C_MUTE &none &none &none &none                &none &none &none &none &kp C_MUTE
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbols {
            display-name = "Symbols";
// -----------------------------------------------------------------------------------------
// |  `  |  !  |  %  |  ^  |  *  |   |  _  |  {  |  }  |  =  | DEL |
// | TAB |  @  |  #  |  $  |  &  |   |  :  |  (  |  )  |  "  |  '  |
// | F12 | C/; | A/- |  +  | "|" |   |  \  |  [  | A/] | C// |  ?  |
//                   |     |     |   |     |     |
            bindings = <
&kp GRAVE &kp EXCL       &kp PERCENT    &kp CARET  &kp ASTERISK   &kp UNDER &kp LBRC &kp RBRC      &kp EQUAL      &kp DEL
&kp TAB   &kp AT         &kp HASH       &kp DOLLAR &kp AMPS       &kp COLON &kp LPAR &kp RPAR      &kp DQT        &kp SQT
&kp F12   &mt LCTRL SEMI &mt LALT MINUS &kp PLUS   &kp PIPE       &kp BSLH  &kp LBKT &mt RALT RBKT &mt RCTRL FSLH &kp QMARK
                                        &trans &trans            &trans &trans

&trans &trans &trans &trans &trans                                &trans &trans &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        nav_num {
            display-name = "Nav/Num";
// -----------------------------------------------------------------------------------------
// |  `  |     | UP  | MB1 | MB2 |   |  _  |  7  |  8  |  9  | DEL |
// | TAB |LEFT |DOWN |RIGHT|  :  |   |  :  |  4  |  5  |  6  |  '  |
// | F12 |CTRL | A/- |  +  |  .  |   |  0  |  1  | A/2 | C/3 |     |
//                   |     |     |   |     |     |
            bindings = <
&kp GRAVE &trans    &kp UP         &mkp MB1  &mkp MB2   &kp UNDER &kp N7 &kp N8      &kp N9       &kp DEL
&kp TAB   &kp LEFT  &kp DOWN       &kp RIGHT &kp COLON  &kp COLON &kp N4 &kp N5      &kp N6       &kp SQT
&kp F12   &kp LCTRL &mt LALT MINUS &kp PLUS  &kp DOT    &kp N0    &kp N1 &mt RALT N2 &mt RCTRL N3 &trans
                                   &trans &trans       &trans &trans

&trans &trans &trans &trans &trans                      &trans &trans &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        mouse {
            display-name = "Mouse";
// -----------------------------------------------------------------------------------------
// |     |     | MS_U| MB1 | MB2 |   |     |     |     |     |     |
// |     | MS_L| MS_D| MS_R|     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
//                   |     |     |   |     |     |
            bindings = <
&none &none          &mmv MOVE_UP   &mkp MB1        &mkp MB2   &trans &trans &trans &trans &trans
&none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none      &trans &trans &trans &trans &trans
&none &none          &none          &none           &none      &trans &trans &trans &trans &trans
                                    &trans &trans   &trans &trans

&trans &trans &trans &trans &trans                  &trans &trans &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
